.detailsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsHeader {
  font-size: 3.2rem;
  font-family: display;
  text-transform: uppercase;
}

.detailsCard {
  margin-top: 10vh;
  background-color: #19232c;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  height: 60vh;
}

.detailsCard-left {
  display: flex;

  align-items: center;

  width: 65%;
  height: 100%;
  color: #ccc;
  font: display;
  font-size: 22px;
}
p {
  margin-left: 48px;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 40px;
  word-spacing: 2px;
  font-family: display;
  text-align: justify;
}

.detailsCard-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.detailsImg {
  height: 18rem;
  width: 18rem;
}

span {
  color: #00b8ff;
  font-family: display;
}
.normal {
  color: #fff;
}
