@media (max-width: 40em) {
  .details-card-header {
    height: 8%;
  }
  .back-to-houses {
    font-size: 1.8rem;
  }

  .house-heir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
  }

  .house-heir-title {
    color: #ccc;
    margin-bottom: 0.8rem;
  }
  .heir-img {
    border-radius: 50%;
    height: 4em;
    width: 4em;
    cursor: pointer;
  }
  .heir-name {
    color: #ccc;
    margin: 0.5em;
  }
}
