.house {
  width: 310px;
  height: 350px;
  border: 3px solid #212222;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
  background-color: #212222;
}
.house:hover {
  background-color: #3a3b3c;
  border-color: #e67e22;
  box-shadow: 0 0 15px #e67e22;
  transition: 0.3s;
}
.house-img {
  border-radius: 2px;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

h4 {
  color: #ccccda;
  font-family: display;
  font-size: 24px;
}
h4::after {
  display: block;
  height: 2px;
  background-color: #2d2e2f;
  content: " ";
  width: 310px;
  margin: 0 auto;
  margin-top: 24px;
}
.link {
  text-decoration: none;
}

/*.details-btn {
  font-family: display;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7.5px 15px;
  background-color: #b9540c;
  color: #fff;
  cursor: pointer;
}
*/
