.container-name {
  font-size: 2.4rem;
  font-family: display;
  color: #f2f2f2;
  text-transform: uppercase;
}

.house-region {
  font-size: 2.4rem;
  color: #ccc;
}
@media (max-width: 40em) {
  .container-name {
    font-size: 1.8rem;
  }

  .house-region {
    font-size: 1.8rem;
  }
}
