.overlord-title {
  font-size: 2.8rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.overlord-name {
  font-size: 2.4rem;
  cursor: pointer;
  color: #61dafb;
  text-decoration: none;
}
@media (max-width: 40em) {
  .overlord-title {
    font-size: 1.8rem;
  }
  .overlord-name {
    font-size: 1.6rem;
  }
}
